/******************************************************************
Tablet & Small Desktop Stylesheet
******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

#inner-content {

    #main {
       @include span(8);
    }
    .sidebar {
       @include span(4 last);
    }
}

#content {
	margin: em(61) 0 0;
	padding: 3em 0;
}

/*********************
HEADER STYLES
*********************/

.header {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;

    #logo {
        float: left;
    }

		nav {
			clear: none;
			margin-top: .5em;
		}

    .nav {
        float: right;
        visibility: visible;
        height: auto;

				a,
				.button a {
					padding: .75em 1em ;
					display: inline-block;
				}

				.button {
					padding: 0;
					margin-top: 0;
					margin-bottom: 0;
					line-height: 1;
				}
    }
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	ul {
		margin-top:0;
	}
	li {
		float: left;
		position: relative;
		a {
			border-bottom: 0;

			&:hover, &:focus {
				color: hite;
				text-decoration: underline;
			}
		}

		ul.sub-menu,
		ul.children {
      background: $link-color;
			margin-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
          color: white;
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
				}

				ul {
					top:0;
					left:100%;
				}
			}
		}

		/* showing sub-menus */
		&:hover > ul.sub-menu {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

} /* end .nav */

.menu-trigger {
    display: none;
}

/*********************
SIDEBARS & ASIDES
*********************/

.widgettitle {
	margin-bottom: 0.75em;
	margin-top: 0;
}

.widget {
	margin: 2.2em 0;

	&:first-of-type {
		margin-top: 0;
	}

	ul {
		li {
			margin-bottom: 0.75em;

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/

.footer {
	nav {
		float: left;

		.button {
			padding: 0;
			line-height: inherit;

		}
	}
	.copyright {
		float: right;
		margin: 0;
	}
	.nav li { font-size: 1em; }
}

.bottom-cta {
	padding: 4em 0;

	.button {
		padding: 1em 4em;
	}
}

/*********************
HOMEPAGE STYLES
*********************/

	.intro {
		overflow: hidden;
		text-align: left;

		.wrap {
			position :relative;
			padding: 7em 0;
		}

		img {
			position: absolute;
		  bottom: 0;;
			left: -80px;
			width: 54%;
			display: block;
		}

		.button {
			width: auto;
			padding: 1em 4em;
		}

		p { font-size: 3em; }

		.intro-text {
			@include span(7 last);
		}
	}

	.highlights {
		padding: 5em 0;

		.sub-heading {
			margin-bottom: 5em;
		}

		ul {
			li {
				flex: 1;
				padding: 0 .5em;

				&:hover {
					svg {
						transform: translateY(-1em);
					}
				}
			}
		}
	}


/*********************
ABOUT PAGE STYLES
*********************/

.page-id-4 {

		#inner-content {
			position: relative;

			#main {
				@include span(10);
				@include push(1);
			}
		}

}

/*********************
CONTACT PAGE STYLES
*********************/

.page-id-16 {
	#inner-content {
		#main {
			@include span(5);
			@include push(1);
		}
		.contact-form {
			@include span(5);
		}
	}
}

.page-id-4,
.page-id-16 {

	#content {
		margin-top: em(61);
		padding: 0;
	}
}


/*********************
SINGLE POST STYLES
*********************/

.single {
	.header {
		position: absolute;
		top: -61px;
	}

	#container { position: relative; }

	.intro {
		.wrap {
			position: relative;
			padding: 0;
			height: 100%;
		}

		.intro-text {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
